* {
    color: red;
}

/* 전체를 바꿔도 우선순위가 다름 */
h1 {
    color: blue;
}

/* 전체를 바꿔도 우선순위가 다름 */
.pink {
    color: pink;
}

/* 전체를 바꿔도 우선순위가 다름(아이디가 클래스보다 높음) */
#green {
    color: green;
}

/* 전체를 바꿔도 우선순위가 다름(클래스가 태그보다 높음) */
h2 {
    color: black;
}

.blue {
    color: blue;
}

.bold {
    font-weight: bold;
}