<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/timeline/create">
        <input type="text" name="username">
        <input type="text" name="message">
        <input type="submit" value="search">
    </form>
    <!--flask에서 객체(딕셔너리 형태)-->
    <ul>
        {% for row in reader %}
        <!--<li>-->
        <!--    {{ row[0] }} : {{ row[1] }}-->
        <!--</li>-->
        <li>
            {{ row.username }} : {{ row.message }}
        </li>
        {% endfor %}
    </ul>
</body>

</html>
