{% extends 'base.html' %} {% load static %} {% block title %}MYPAGE{% endblock %} {% block body %}
<div class="container">
    <div class="card position-fixed" style="width: 24rem;">
        <img src="{% static 'detail/images/bono.png' %}" class="card-img-top rounded-circle" alt="bonobono">
        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <a href="#">user@ssafy.com</a>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#">Logout</a>
        </div>
    </div>

    <div class="float-right">
        <div class="card" style="width: 36rem;">
            <img src="{% static 'detail/images/bono.png' %}" class="card-img-top" alt="bonobono">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 36rem;">
            <img src="{% static 'detail/images/bono.png' %}" class="card-img-top" alt="bonobono">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 36rem;">
            <img src="{% static 'detail/images/bono.png' %}" class="card-img-top" alt="bonobono">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
