{% extends 'base.html' %} {% load static %} {% block title %}SIGNUP{% endblock %} {% block body %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <img class="mx-5" src="{% static 'detail/images/lion.gif' %}" style="width:450px"></img>

        <div class="mx-5" style="width:24rem;">
            <h1 class="d-flex justify-content-center">Sign Up</h1>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password Confirm</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
