nav > a {
    font-family: 'Jua', sans-serif;
}
.section {
    height: 350px;
    background: url(photo.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Gamja Flower', cursive;
}

h2 {
    text-align: center;
 }


