nav > a {
    font-family: 'Jua', sans-serif;
}

.section {
    background: url(photo.jpg) no-repeat center;
    background-color: rgba(220, 220, 220, 0.925);
    background-blend-mode: lighten;
    background-size: cover;
    height: 350px;
    font-family: 'Gamja Flower', cursive;
}

.section:hover {
    background-blend-mode: unset;
}
    
h2 {
   text-align: center;
}

.subtitle > hr {
    border: solid orange;
    width: 70px;
}

.concer {
    cursor: pointer;
}