<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/movies/create/">
        Title: <input type="text" name="title"/><br>
        Title_en: <input type="text" name="title_en"/><br>
        Audience: <input type="number" name="audience"/><br>
        Open_date: <input type="date" name="open_date"/><br>
        Genre: <input type="text" name="genre"/><br>
        Watch_grade: <input type="text" name="watch_grade"/><br>
        Score: <input type="number" name="score"/><br>
        Poster_url: <input type="text" name="poster_url"/><br>
        Description: <textarea name="description"></textarea><br>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>