* {
    font-family: 'Hi Melody', cursive;
}

.text-center {
    text-align: center;
}

.text-large{
    font-size: 200%;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}

/* #dinner {
    color: red;
} */

/* div p {
    color: green;
}

div > p {
    color: pink;
} */

div + p {
    color: brown;
}